<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
 
    <title>Aplicacion Web IGP</title>
 
  	  {# Cargamos la librería #}
	  {% load bootstrap4 %}
 
	  {# CSS Bootstrap #}
	  {% bootstrap_css %}
  
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Instituto Geofísico del Perú</h1>
  <p>Aplicación WEB para descarga de datos</p>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">APP IGP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Modelo WRF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Modelo ARP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Datos Observatorio Huancayo</a>
      </li>    
    </ul>
  </div>  
</nav>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Modelo WRF</h2>
      <h5>Pronostico</h5>
      <div class="fakeimg">COLOCAR UNA IMAGEN</div>
      <p>El modelo Weather Research and Forecasting (WRF) es un sistema de cálculo numérico para simulación atmosférica (NWP) diseñado para satisfacer las necesidades tanto de investigación como de predicción atmosféricas. WRF incluye dos núcleos diferentes (ARW, NMM), un sistema de asimilación de datos, y una arquitectura de software diseñada para la posibilidad de ejecuciones distribuidas o paralelas y la escalabilidad del sistema. WRF implementa una extensa gama de aplicaciones meteorológicas en escalas que van desde los metros a los miles de kilómetros.
      </p>
      <br>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>
    {% bootstrap_javascript jquery='full' %}
</body>